article, .comments {
  padding: 5% 20%;
}
@media (max-width: 1000px) {
  article, .comments {
    padding: 7.5% 12.5%;
  }
}
article a:hover {
  text-decoration: underline;
  color: #295c32;
}
article, .comments {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}
article header {
  margin-bottom: 6%;
  text-align: center;
}
article .footnotes {
  font-size: 0.9em;
}
header h1 {
  margin: 0;
}
header .meta {
  color: rgba(35, 57, 88, .5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image .post-content {
  padding: 5% 20%;
}
@media (max-width: 1000px) {
  .feature-image .post-content {
    padding: 7.5% 12.5%;
  }
}
.feature-image {
  padding: 0%;
}
.feature-image .post-link {
  color: #fff;
}
.feature-image header {
  color: #fff;
  background-size: cover;
  margin-bottom: 0;
  padding: 8% 20%;
}
.feature-image header .meta {
  color: rgba(255, 255, 255, .7);
}
/* Post navigation */
#post-nav {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  float: left;
}
#post-nav a, #post-nav .page-title {
  display: inline-block;
}
#post-nav .page-title {
  font-size: 1.2em;
  margin-bottom: 1em;
  width: 100%;
}
#post-nav a {
  padding: 2em 3em;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  width: 50%;
}
#post-nav i {
  vertical-align: middle;
}
