{% load static %}
<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Electroholics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Electroholics, Club, IIITD, Electro">
	<meta name="author" content="Mayank Rawat, Dhruv Diwan, Nandini Bansal, Rishi Raj Jain ">
	<!-- <link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/logo.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="/static/css/main.css">
	<link href="/static/color/default.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="/static/color/main.css"> -->
	<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
	<link rel="icon" href="/static/img/favicon1.ico" type="image/x-icon">
		<style>
			p {
			font-size: 8px;
			}
		.made {
		background-color : rgb(22, 27, 25);
		left: 20px;
		
		width: 400px;
	}
		</style>
	</head>

	<!--Body-->
	<body>
	<!-- Navbar -->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive Navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				</div>
				<li><a style="position:absolute;left: 40px; top: 20px;font-size: 200%;color:white;" target="_blank" href="http://www.iiitd.ac.in">IIIT-D</a></li>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<!-- <li><a style="left: 10px; top: 0px;" target="_blank" href="www.iiitd.ac.in">IIIT-D</a></li>
							e -->
							<li><a target="_blank" href="#about">About Us</a></li>
							<li><a target="_blank" href="/sessions">Sessions</a></li>
							<li><a target="_blank" href="/inventory">Inventory</a></li>
							<li><a target="_blank" href="/projects">Projects</a></li>
							<li><a target="_blank" href="/competitions">Competitions</a></li>
						</ul>
					</nav>

	    <!-- {% block content %}
	    {% endblock content %} -->
				</div>
			</div>
		</div>
	</div>
	<!-- Header area -->
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="/static/img/logo-image.png" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										<strong>ELECTROHOLICS</strong> 
													CLUB
									</p>
								</li>
								<li>
									<p class="home-slide-content">
									 <strong>CREATE, DESIGN AND EXPLODE</strong>
									</p>
								</li>
								<li>
									<p class="home-slide-content">
										High Voltage Electronics:
										
										
									</p>
								</li>
								<li>
									<p class="home-slide-content">
									 <strong>CREATE, DESIGN AND EXPLODE</strong>
									</p>
								</li>
							</ul>
						</div><div id="about"></div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span6 alignright flyLeft" style="font-size: 200%; line-height: 30px;">
					<!-- < class="large"> -->
						<B>Electroholics is a group of hardware enthusiasts from IIIT-Delhi. We believe in the spirit of creativity and open knowledge, and using these to make awesome things.</B>
					<!-- </blockquote> -->
				</div>
				<div class="span6 aligncenter flyRight">
					<a href="mailto:electroholics-admin@googlegroups.com" target="_blank" title="Email">
						<div class="logo1">
							<img src="/static/img/gmail.png" width="70" height="70" alt="" /> 
						</div>
					</a>
					<a href="https://www.facebook.com/iiitdelectroholics" target="_blank" title="Follow on Facebook">
						<div class="logo2">	
							<img src="/static/img/fb2.png"> 
						</div>
					</a>
					<a href="https://github.com/Electroholics" target="_blank" title="Follow on GitHub">
						<div class="logo3">
							<img src="/static/img/git.png"> 
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->

	<!-- section: team -->
	<section id="" class="section">
		<div class="container">
			
			<div class="row">
				<div class=" offset1">
					<div>
							<h4>How To Join</h4>

						<!-- <h2>We live with <strong>creativity</strong></h2> -->
						<p style="font-size: 100%; align-self: center;">
								If you love tinkering around with circuits, or programming microcontrollers like the Arduino1 to do interesting tasks, this club is for you.
								To join us, you must make a project involving a complex design component, or you must show significant contributions to any open-source library for hardware.
								We also carry out projects of our own throughout the year, so you can join those at any time and get your hands dirty.
							
							<p style="font-size: 100%; align-self: center;">
									<h4>Contact</h4>
									ECE Club Room, Third Floor Student Center
									IIIT-Delhi									
									Follow us on <a href="https://www.facebook.com/iiitdelectroholics">Facebook</a> for event updates!</p>
						</p>
					</div>
				</div>
				<div class="span6">
					<div class="aligncenter">

					</div>
				</div>
			</div>
			<div class="row">
				<div class="span2 offset1 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="/static/img/team/img-1.jpeg" alt="" />
						<h3>Bhumanyoo Varshney</h3>
						<p>
							<font size="2">bhumanyoo16141@iiitd.ac.in</font>
						</p>
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="/static/img/team/img-2.jpeg" alt="" />
						<h3>Ankit Gupta</h3>
						<p>
							<font size="2">ankit17134@iiitd.ac.in</font>
						</p>
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="/static/img/team/mayank.jpg" alt="" />
						<h3>Mayank Rawat</h3>
						<p>
							<font size="2">mayank18049@iiitd.ac.in</font>
						</p>
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="/static/img/team/setu.jpg" alt="" />
						<h3>Setu Gupta</h3>
						<p>
							<font size="2">setu18190@iiitd.ac.in</font>
						</p>
					</div>
				</div>
				
			</div>
		</div>
		<!-- /.container -->
	</section>
	<!-- end section: team -->
	<!-- section: services -->
	
	<!-- end section: services -->
	<!-- section: works -->
	
	<!-- end spacer section -->
	<!-- section: contact -->
	
	<footer>
		<div class="container">
			<div class="row">
				
				<div class="made" style="text-align:left; padding-left: 5px"  >
						<li>
							Made By :
						</li>				
						<li>
							Dhruv Diwan (dhruv18031@iiitd.ac.in)
						</li>
						<li>
							Nandini Bansal (nandini18056@iiitd.ac.in)
						</li>
						<li>
							Rishi Raj Jain (rishi18304@iiitd.ac.in)
						</li>
				</div>
			</div>
		</div>
	</footer>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.scrollTo.js"></script>
	<script src="/static/js/jquery.nav.js"></script>
	<script src="/static/js/jquery.localScroll.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.prettyPhoto.js"></script>
	<script src="/static/js/isotope.js"></script>
	<script src="/static/js/jquery.flexslider.js"></script>
	<script src="/static/js/inview.js"></script>
	<script src="/static/js/animate.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/contactform/contactform.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
			document.getElementsByClassName("flex-direction-nav")[0].style.display= "none";
		});
	</script>
</body>
</html>