{% extends 'base.html' %}
{% block content %}
<title>About Us | Electroholics | IIIT-Delhi</title>
<div class="content">
  <article >
    <header>
      <h1 class="title">About Us</h1>
    </header>
<section class="post-content"><p>Electroholics is a group of hardware enthusiasts from IIIT-Delhi.
We believe in the spirit of creativity and open knowledge, and using
these to make awesome things.</p>

<h2 id="how-to-join">How to Join</h2>

<p>If you love tinkering around with circuits, or programming microcontrollers
like the Arduino<sup>1</sup> to do interesting tasks, this club is for you.</p>

<p>To join us, you must make a project involving a complex design component,
or you must show significant contributions to any open-source library for
hardware.</p>

<p>We also carry out projects of our own throughout the year, so you can join
those at any time and get your hands dirty.</p>

<p><sub>1: The Arduino isn’t a microcontroller, it’s technically a microcontroller board,
but we digress.</sub></p>

<h2 id="the-team">The Team</h2>

<p><strong>Coordinators:</strong></p>

<ul>
<li>Shivam Aggarwal</li>
<li>Raghavv Goel</li>
</ul>

<p><strong>Admins:</strong></p>

<ul>
<li>Anant Sharma</li>
<li>Ankur Rastogi</li>
<li>Sajag Agarwal</li>
<li>Navneet Anand</li>
</ul>

<h2 id="contact">Contact</h2>

<p>ECE Club Room, Third Floor
Student Center<br />
IIIT-Delhi</p>

<p>Follow us on <a href="https://facebook.com/iiitdelectroholics">Facebook</a> for event updates!</p>
</section>
</article>

</div>
{% endblock content %}
